<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorial05">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/micon"
        android:label="@string/app_name10"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Login"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Welcome"
            android:label="Database Users"/>
        <activity android:name=".Signup"
            android:label="@string/signup_txt"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Display"
            android:label="Users Data"
            android:parentActivityName=".Welcome" />
        <activity android:name=".FileManagement"
            android:label="File Management"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".Welcome" />
    </application>

</manifest>